<div class="hero">
  <br/>
  <div class="frosty text-center">
    <br />
    <h1>Share your craft.</h1>
    <br />
    <h2>For artists, by artists.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Feature 1</h3>
    <br />
    <p>This is test text.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Feature 2</h3>
    <br />
    <p>This is test text.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Feature 3</h3>
    <br />
    <p>This is test text.</p>
  </div>
</div>