<div class="hero">
  <br/>
  <div class="frosty text-center">
    <br />
    <h1>Share what's yours.</h1>
    <br />
    <h2>For crafters, by crafters.</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
